body{
  margin: 0;
  font-family: Century Gothic, sans-serif;
  background: rgb(25,79,144);

}

main{
    margin: 20px auto 20px auto;
    display: flex;
    flex-wrap: wrap;

}


a {
  color: White;
  font-family: "Work Sans", Helvetica, sans-serif;
}

.logo-img{
  float: left;

}

.header {
  background-color: rgb(25,79,144);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0px;
  border-bottom: 10px solid rgb(255,198,0);
  color: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgb(255,198,0);
}

.header .logo {
  display: block;

  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  height: 100%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background:  white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


.flexItem{
  flex-basis: 300px;
  flex-grow: 1;
  margin: 2px 20px 2px 20px;
  background-color: rgb(255, 255,255, 0.5);
  padding:30px;
}

.hero h2{
  color: white;
  line-height: 0.9em;
  text-align: left;
  font-size: 3em;
  margin-top: 176px;
  margin-bottom: 20px;
}

h3{
  color: white;
}

 .hero p{
  color:white;
  text-align: left;
  font-size: 0.7em;
}


img{
    width: 100%;
    display: block;
    margin: 0% auto 1% auto;
    border: 0;
}







button{

  background:rgb(255,198,0) ;
  padding: 5px;
  border: 0;
  color: black;
  font-size: 0.9rem;
  border-radius: 5px;
  font-family: Century Gothic, sans-serif;
  margin:auto;
  text-align: center;

}

.about-hero{
  background-image: url("img/about.jpg");
  /* add img name above */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* background stuff above */
  /* moving text below */
  position: relative;
}






.hero{
  background-image: url("img/beach.jpg");
  /* photoshop composite done by me */
  /* height: 278px; */
  height: 80vh;
  background-size: cover;
  background-position: center 80%;
  /* background stuff above */
  /* moving text below */
  position: relative;
  font-size: 1.5em;
}

.wrapper{
  position: absolute;
  top: 10px;
  left:5%;
  text-shadow: 0 0 5px black;
}


footer{
  background:rgb(25,79,144);
  padding: 26px;
  border-top: 10px solid rgb(255,198,0);
}
footer a{
  text-decoration: none;
  text-align: center;
}

footer p{
color:white;
}

footer a{
  color: white;
  margin: 10px

}

footer nav{
  background: rgb(25,79,144);
  /* height: 60px; */
  text-align: center;
  font-family: "Work Sans", Helvetica, sans-serif;
  border: 0;
  padding: 20px 20px;
  display: inline-block;

}


/* about style */

@media screen and (min-width: 700px) {

        .logo {
          /* width:350px; */
        }
        img{
            width:30%;
            display: inline;
        }

        .flexItem{

          margin: 20px;

        }

        .flexItem:first-child{
          margin-right: 0;
        }

        .hero{
          height: 400px;
        }
}

@media screen and (min-width: 1300px){
  img{

  }

  .hero{
    height:815px;
  }

  footer nav{
    text-align: center;
  }
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
