 @import url("https://use.typekit.net/slm8iic.css");

body{
  margin: 0;
  font-family: Century Gothic, sans-serif;
  background: rgb(25,79,144);
  color: white;
}
p{
  color:white;
}
a {
  color: White;
  font-family: "Open Sans", sans-serif;
}
img{
    width: 100%;
    display: block;
    margin: 0% auto 1% auto;
    border: 0;
}
.logo{
  max-width: 400px;
}
nav{
}
#navbar {
  display: grid;
  min-height: 57px;
  grid-auto-flow: column;
  background-color: rgb(25,79,144);
  color:white;
/*   grid-gap: 1.5em; */
  /* padding: 0 40px; */
  padding: 0 40px 0 26px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  border-bottom: 10px solid rgb(255,198,0);
}
#navbar a{
  color:white;
}
#logo {
  display: grid;
  justify-content: space-between;
  align-content: center;
  font-family: "aviano-sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.mobile-btn{
  font-size:30px;
  cursor:pointer;
  font-weight:bold;
  justify-content:end;
}
#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
/*   grid-gap: 1.5em; */
  font-family: "Open Sans", sans-serif;
}
#links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding:20px 10px;
}
#links a:hover {
  color:black;
  background: rgb(255,198,0);
}
/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(25,79,144);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: black;
  background: rgb(255,198,0)
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
}


.hero{
  background-image: url("img/beach.jpg");
  /* photoshop composite done by me */
  min-height: 80vh;
  background-size: cover;
  background-position: center 80%;
  position: relative;
}

.about-hero{
  background-image: url("img/about.jpg");
  /* https://unsplash.com/photos/R_J6KjC68E4 */
  min-height: 400px;
  background-size: cover;
  background-position: center 57%;
  position: relative;
  padding-bottom:15px;
}

.contact-hero{
  background-image: url("img/contact.jpg");
  /* https://unsplash.com/photos/uVPV_nV17Tw */
  min-height: 400px;
  background-size: cover;
  background-position: center 57%;
  position: relative;
  padding-bottom:15px;

}

.hero h2, .about-hero h2, .contact-hero h2{
  color: white;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-shadow: 0 0 40px black;
}
.hero p, .about-hero p, .contact-hero p{
 color:white;
 text-align: left;
 font-size: 1.2em;
 line-height: 1.4;
 text-shadow: 0 0 30px black;

}

.wrapper{
  margin: 0 20px;
  width:70%;

}
.hero .wrapper{
    max-width:500px;
}

main{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
}
.blurb{
    width:80%;
    margin: auto;
}
.flexItem{
  flex-basis: 300px;
  flex-grow: 1;
  margin: 1.5%;
  background-color: rgb(255, 255,255, 0.2);
  padding:30px;
}



footer{
  background:rgb(25,79,144);
  padding: 26px;
  border-top: 10px solid rgb(255,198,0);
  text-align: center;
}
footer a{
  text-decoration: none;
  text-align: center;
}

footer p{
color:white;
}

footer a{
  color: white;
  margin: 10px;
  display:block;
}

footer nav{
  background: rgb(25,79,144);
  /* height: 60px; */
  text-align: center;
  font-family: "Work Sans", Helvetica, sans-serif;
  border: 0;
  padding: 20px 20px;
  display: inline-block;

}


/* START MOBILE FORM STYLES */
.form-container{
  margin: 0px auto;
/*  WIDTH 100%  FOR MOBILE DEVICES*/
  width:100%;
  display:block;
  font-size:1em;
}
form p{
  margin-bottom:5px;
  color:white;
}
label{
  display:block;
  color: white;
}
#newsletter input{
  display:inline;
  width:auto;
}
input{
  /* FOR MOBILE use WIDTH:100% */
  width:100%;
  padding:1.7%;
  margin:1.5% 0;
  font-size: 1em;
  border-radius: 4px;
  border:1px solid #ccc;
  box-sizing: border-box;
}
textarea{
  min-height:100px;
   /* FOR MOBILE use WIDTH:100% */
  width: 100%;
  padding: 2%;
  margin: 1.5% 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
  background: rgb(255,198,0);
  border: 1px solid black;
  border-radius: 4px;
  color:black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:5px 20px;
  font-size: 1rem;
}
/*        END MOBILE FORM STYLES */

/* map styles */
.map{
  width:100%;
  margin: auto;
  display: block;
}

.video{
position: relative;
height: 0;
padding-bottom: 56.25%; /*16:9*/
}
.video iframe{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
}

@media screen and (min-width: 400px)
{
  #logo{
    font-size: 20px;
    padding-top: 15px;
    grid-template-columns: auto 6px
  }
  .mobile-btn{
    font-size: 20px;
  }

  .hero h2, .about-hero h2, .contact-hero h2{
    text-shadow: 0 0 30px black;
    font-size: 3em;
    line-height: 1em;
  }
    .hero p, .about-hero p, .contact-hero p{
      text-shadow: 0 0 40px black;
    }
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/*START DESKTOP STYLES */

@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
    .hero h2, .about-hero h2, .contact-hero h2{
      text-shadow: 0 0 40px black;
      font-size: 3em;
    }
    .hero p, .about-hero p, .contact-hero p{
     font-size: 1.5em;
     line-height: 1.4;
     text-shadow: 0 0 30px black;

    }
}
@media only screen and (min-width: 700px) {
    .logo{
      max-width: 500px;
    }
    .form-container{
      /*CHANGE WIDTH of FORM TO YOUR PREFERENCE */
      width:70%;
    }
    .form-container,.map{
        flex-basis: 45%;
        flex-grow:1;
        margin: 1% 10px;
    }
    input{
     /* CHANGE WIDTH TO YOUR PREFERENCE */
     width:60%;
    }
    button{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .hero{
      height: 78vh;
    }
    .about-hero{
      /* height: 78vh; */
    }
    .about-wrapper{
      text-shadow: 0 0 40px black;
    }
    .wrapper{
      margin: 0 2%;
      width:60%;
    }
    .blurb{
        font-size: 1.3em;
    }
    .hero h2, .about-hero h2, .contact-hero h2{
      text-shadow: 0 0 40px black;
      font-size: 4em;
      line-height: 1em;
    }
    .hero p, .about-hero p, .contact-hero p{
     font-size: 1.2em;
     line-height: 1.1em;
     text-shadow: 0 0 30px black;
    }
    .flexItem{
        flex-basis: 300px;
        padding:30px;
    }

    footer a{
        display: inline-block;
    }
}
