 @import url("https://use.typekit.net/slm8iic.css");




body{
  margin: 0;
  font-family: Century Gothic, sans-serif;
  background: rgb(25,79,144);

}



main{
    margin: 20px auto 20px auto;
    display: flex;
    flex-wrap: wrap;

}



a {
  color: White;
  font-family: "Work Sans", Helvetica, sans-serif;
}

.logo-img{
  float: left;

}

nav{

}

#navbar {
  display: grid;
  min-height: 70px;
  grid-auto-flow: column;
  background-color: rgb(25,79,144);
  color:white;
/*   grid-gap: 1.5em; */
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  border-bottom: 10px solid rgb(255,198,0);
}
#navbar a{
  color:white;
}



#logo {
  display: grid;
  justify-content: space-between;
  align-content: center;
  font-family: "aviano-sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.mobile-btn{
  font-size:30px;
  cursor:pointer;
  font-weight:bold;
  justify-content:end;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
/*   grid-gap: 1.5em; */
  font-family: "Open Sans", sans-serif;
}

#links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding:20px 10px;
}

#links a:hover {
  color:blue;
  background: #e9ebee;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(25,79,144);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: "Open Sans", sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
}

/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}



.flexItem{
  flex-basis: 300px;
  flex-grow: 1;
  margin: 2px 20px 2px 20px;
  background-color: rgb(255, 255,255, 0.5);
  padding:30px;
}

.hero h2{
  color: white;
  line-height: 0.9em;
  text-align: left;
  font-size: 4em;
  margin-top: 176px;
  margin-bottom: 20px;
}

h3{
  color: white;
}

 .hero p{
  color:white;
  text-align: left;
  font-size: 1.1em;
}


img{
    width: 100%;
    display: block;
    margin: 0% auto 1% auto;
    border: 0;
}







button{

  background:rgb(255,198,0) ;
  padding: 12px;
  border: 0;
  color: black;
  font-size: 1.1rem;
  border-radius: 25px;
  font-family: Century Gothic, sans-serif;
  margin:auto;
  text-align: center;

}

.about-hero{
  background-image: url("img/about.jpg");
  /* add img name above */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* background stuff above */
  /* moving text below */
  position: relative;
}






.hero{
  background-image: url("img/beach.jpg");
  /* photoshop composite done by me */
  /* height: 278px; */
  height: 78vh;
  background-size: cover;
  background-position: center 80%;
  /* background stuff above */
  /* moving text below */
  position: relative;
  font-size: 1.5em;

}

.wrapper{
  position: absolute;
  top: 10px;
  left:5%;
  text-shadow: 0 0 5px black;
}


footer{
  background:rgb(25,79,144);
  padding: 26px;
  border-top: 10px solid rgb(255,198,0);
}
footer a{
  text-decoration: none;
  text-align: center;
}

footer p{
color:white;
}

footer a{
  color: white;
  margin: 10px

}

footer nav{
  background: rgb(25,79,144);
  /* height: 60px; */
  text-align: center;
  font-family: "Work Sans", Helvetica, sans-serif;
  border: 0;
  padding: 20px 20px;
  display: inline-block;

}


/* about style */

@media screen and (min-width: 700px) {

        .logo {
          /* width:350px; */
        }
        img{
            width:30%;
            display: inline;
        }

        .flexItem{

          margin: 20px;

        }

        .flexItem:first-child{
          margin-right: 0;
        }


}

@media screen and (min-width: 1300px){
  img{

  }



  footer nav{
    text-align: center;
  }
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
