body{
  padding: 0;
  margin: 0;
  font-family: Century Gothic, sans-serif;
  background: rgb(25,79,144);

}


main{
    margin: 20px auto 20px auto;
    display: flex;
    flex-wrap: wrap;

}

.flexItem{
  flex-basis: 300px;
  flex-grow: 1;
  margin: 2px 20px 2px 20px;
  background-color: rgb(255, 255,255, 0.5);
  padding:30px;
}

h2{
  color: white;
}

h3{
  color: white;
}

 p{
  color:white;
}


img{
    width: 100%;
    display: block;
    margin: 1% auto 1% auto;
    border: 0;
}

.logo{
  width: 100%;
  max-width: 350px;
}

button{

  background: none;
  padding: 5px;
  border: 2px white solid;
  color: white;
  font-size: 1.3em;
  border-radius: 5px;

}

.about-hero{
  background-image: url("img/about.jpg");
  /* add img name above */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* background stuff above */
  /* moving text below */
  position: relative;
}





nav{
  background: rgb(25,79,144);
  /* height: 60px; */
  text-align: center;
  font-family: "Work Sans", Helvetica, sans-serif;
  padding: 20px;
  border-bottom: 10px solid yellow;
}
/* styles for hero or feature */
.hero{
  background-image: url("img/hair.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  /* background stuff above */
  /* moving text below */
  position: relative;
}

.wrapper{
  position: absolute;
  top: 20%;
  left:5%;
}



nav a{
  text-align: center;
  color: white;
  font-size: 1.5 em;
  padding: 15px;
  margin:0 10px;
  display: inline-block;
  text-decoration: none;

}

nav a:hover{
  text-decoration: underline;

}

nav h2{
  font-size: 2 em;
}

footer{
  background:rgb(25,79,144);
  padding: 40px;
  border-top: 10px solid yellow;
}

footer p{
color:white;
}

footer a{
  color: white;

}


/* about style */

@media screen and (min-width: 700px) {

        .logo {
          /* width:350px; */
        }
        img{
            width:30%;
            display: inline;
        }

        .flexItem{

          margin: 20px;

        }

        .flexItem:first-child{
          margin-right: 0;
        }
}

@media screen and (min-width: 1300px){
  img{
    display: none;
  }
}
